# Ignore files without extension.
*
!*.*
!**/
!packaging/**

# Include files without extension.
!Makefile
!LICENSE
!Dockerfile

# Ignore files with extension.
*.exe
*.so
*.test
/*.env
/*.html

# Ignore directories.
proto/protovalidate/
work/
study/
temp/
tmp/

# Ignore IDE directory.
.vscode
.idea
