# Ignore files without extension.
*
!*.*
!**/
!packaging/**
!examples/**

# Include files without extension.
!Makefile
!LICENSE
!Dockerfile
!CODEOWNERS

# Ignore files with extension.
*.exe
*.so
*.test
*.log
*.gz
*.tmp
*.temp
/*.env
/*.html

# Ignore directories.
proto/protovalidate/
site/
work/
study/
temp/
tmp/

# Ignore IDE directory.
.vscode
.idea
