<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
		}

		th,
		td {
			border: solid 1px;
			padding: 5px;
		}

		table {
			border-collapse: collapse;
			border: solid 3px;
			background-color: #fff;
		}

		h1 {
			color: #516ab6;
			background: #eaf3ff;
			border: solid 3px #516ab6;
			padding: 0.5em;
			margin: 10px;
			border-radius: 0.5em;
			text-align: center;
		}

		h2 {
			padding: 0.5em;
			margin: 0px 0px 20px 0px;
			color: #010101;
			background: #eaf3ff;
			border-bottom: solid 3px #516ab6;
		}

		.panel {
			background-color: #f9f9f9;
			border: solid 2px;
			border-color: #ddd;
			margin: 3px;
			margin-top: 30px;
		}

		.description {
			padding: 0px 20px 0px 20px;
		}

		.table {
			padding: 20px;
			overflow-x: auto;
		}

		.name {
			background-color: #eee;
		}

		.name :hover {
			cursor: pointer;
		}

		.conditions {
			background-color: #fffddd;
		}

		.condition {
			background-color: #fffddd;
		}

		.actions {
			background-color: #fffddd;
		}

		.action {
			background-color: #fffddd;
		}

		.action0,
		.condition0 {
			border-top: 3px double #000;
		}

		.T,
		.F {
			font-weight: 900;
			text-align: center;
		}

		.T {
			color: #0b0;
			background-color: #e5ffe5;
			border-color: #000;
		}

		.F {
			color: #d00;
			background-color: #ffe5e5;
			border-color: #000;
		}

		.popup {
			padding: 30px;
			margin: 20px;
			font-weight: bold;
			background: #FFF;
			border-radius: 10px;
			text-align: left;
			display: none;
			position: fixed;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			box-shadow: 0px 0px 15px 10px #4c4c4c;
		}

		.entry.popup {
			border: solid 5px #f00;
		}

		.condition.popup,
		.action.popup {
			border: solid 5px #00f;
		}

		label :hover {
			cursor: pointer;
		}

		input[type="checkbox"] {
			display: none;
		}

		input[type="checkbox"]:checked+.popup {
			display: block;
		}
	</style>

</head>

<body>

	<h1 id="title">{{.Title}}</h1>

	<div id="index">
		<ul>
			{{range $i, $info := .Infos}}
			<li><a href="#{{$i}}-{{.Name}}">{{.Name}}</a></li>
			{{end}}
		</ul>
	</div>

	{{range $n, $info := .Infos}}
	<div class="panel">

		<h2 id="{{$n}}-{{.Name}}">{{.Name}}</h2>

		<div class="description">
			{{range $v := .Descriptions}}
			{{$v}}</br>
			{{end}}
			Conditions: {{len .Conditions}}, Actions: {{len .Actions}}, Entries: {{len .EntryNames}}
		</div>

		<div class="table">
			<table>
				<thead>
					<tr>
						<th colspan="2"></th>
						{{range $i, $v := .EntryNames}}
						<th class="name">
							<label>
								{{$v}}
								<input type="checkbox" name="checkbox">
								<div class="entry popup">
									{{$info.Name}} &gt; {{$v}}</br>
									</br>
									Conditions:</br>{{index $info.EntryCndDescriptions $i}}</br>
									</br>
									Actions:</br>{{index $info.EntryActDescriptions $i}}</br>
								</div>
							</label>
						</th>
						{{end}}
					</tr>
				</thead>

				<tbody>
					{{range $i, $c := .Conditions}}
					<tr class="condition{{$i}}">
						{{if eq $i 0}}
						<th rowspan="{{len $info.Conditions}}" class="conditions">Conditions</th>
						{{end}}
						<th class="condition condition{{$i}}">
							<label>
								{{.Name}}
								<input type="checkbox" name="checkbox">
								<div class="condition popup">
									{{.Name}}:</br>
									{{index $info.CndDescriptions $i}}
								</div>
							</label>
						</th>
						{{range $j, $v := .Values}}
						<td class="{{$v}} condition{{$i}} entry{{$j}}">{{$v}}</td>
						{{end}}
					</tr>
					{{end}}

					{{range $i, $a := .Actions}}
					<tr class="action{{$i}}">
						{{if eq $i 0}}
						<th rowspan="{{len $info.Actions}}" class="actions">Actions</th>
						{{end}}
						<th class="action action{{$i}}">
							<label>
								{{.Name}}
								<input type="checkbox" name="checkbox">
								<div class="action popup">
									{{.Name}}:</br>
									{{index $info.ActDescriptions $i}}
								</div>
							</label>
						</th>
						{{range $j, $v := .Values}}
						<td class="{{$v}} action{{$i}} entry{{$j}}">{{$v}}</td>
						{{end}}
					</tr>
					{{end}}
				</tbody>
			</table>
		</div>
	</div>
	{{end}}

</body>

</html>