name: Vulnerability Checks

on:
  workflow_dispatch: {}
  workflow_call: {}
  schedule:
    - cron: '0 20 * * *'

jobs:
  vulnerability:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: make vuln

  copyleft:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: make scanoss-run SCANOSS_OPTION_SCAN="-E drawio -E pb.go -E mod -E sum"
